[Unit]
Description=Yggdrasil node security hardening ({{ item.script }})
Wants=network-online.target
After=network-online.target {{ item.after }}

[Service]
Type=oneshot
ExecStart=/opt/hardening/{{ item.script }}
TimeoutStartSec=30min
{% if item.script == 'iptables.sh' %}
Environment="OPENSTACK_MGMT_NET={{ network_openstack_mgmt_ip | ansible.utils.ipaddr('network/prefix') }}"
Environment="CEPH_PUBLIC_NET={{ network_ceph_public_ip | ansible.utils.ipaddr('network/prefix') }}"
Environment="CEPH_CLUSTER_NET={{ network_ceph_cluster_ip | ansible.utils.ipaddr('network/prefix') }}"
Environment="NETWORK_PROVIDER_NETS={% for subnet in openstack_public_network.subnets %}{{ subnet.cidr | ansible.utils.ipaddr('network/prefix') }} {% endfor %}"
Environment="DEPLOYMENT_NODE_IPS={% for node in groups['deployment_nodes'] %}{{ hostvars[node].ansible_default_ipv4.address | ansible.utils.ipaddr('address') }} {% endfor %}"
Environment="VPN_NET={{ vpn_ip | ansible.utils.ipaddr('network/prefix') }}"
{% endif %}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
